@import "_variables";

* {
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
  margin: 5vh 0;
  padding: 0 50px;
  background-color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    font-weight: 300;
    li:last-child {
      padding-left: 20px;
    }
  }
}

h1 {
  font-size: 14px;
  margin-bottom: 30px;
}

.date {
  font-size: 18px;
  margin-bottom: 30px;
}

p {
  font-size: 30px;
  text-align: center;
  width: 80%;
  margin-bottom: 30px;
}

.big-photo {
  margin: 80px 50px;
  height: 60vh;
  color: white;
  article {
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1595349900618-657a80f4538c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    p {
      width: 40%;
    }
    .button {
      cursor: pointer;
      padding: 15px 60px;
      text-transform: uppercase;
      border: 1px solid white;
      transition: background-color 0.1s linear;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}

.photo {
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1582769923195-c6e60dc1d8dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80);
  background-size: cover;
  background-position: center;
}

.small-photo {
  margin: 0 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  background-color: $bg;
  &:nth-child(odd) {
    .photo {
      order: 1;
    }
  }
  .content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .linkbox {
      cursor: pointer;
      width: 130px;
      font-size: 20px;
      &:hover {
        span:nth-child(2) {
          margin-left: 10px;
        }
      }
    }
    .button {
      cursor: pointer;
      margin-top: 30px;
      display: grid;
      grid-template-columns: 230px 64px;
      grid-template-rows: auto;
      grid-gap: 1px;
      color: #414141;
      text-transform: uppercase;
      background-color: #414141;
      border: 1px solid #414141;
      &:hover {
        color: white;
        div {
          background-color: #414141;
        }
      }
      div {
        text-align: start;
        padding: 25px;
        background-color: $bg;
      }
    }
  }
}

.galley {
  margin: 80px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  height: 40vh;
}

footer {
  margin-top: 300px;
  background-color: $bg;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: unset;
  grid-gap: 1px;
  .footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    .column__title {
      margin-bottom: 40px;
      opacity: 0.5;
    }
    ul {
      cursor: pointer;
      text-align: center;
      li {
        margin-bottom: 15px;
      }
    }
    &:nth-child(2) {
      border-right: 1px solid black;
      border-left: 1px solid black;
    }
  }
}
