@import "_variables";
@import "_mixins";

h2 {
  font-size: $title;
  &:hover {
    font-size: 80px;
  }
}

a {
  margin-bottom: 10px;
  &:nth-child(odd) {
    @include link(red);
  }
  &:nth-child(even) {
    @include link(blue);
  }
}
