@import "_mixins";

* {
  box-sizing: border-box;
}

body {
  text-transform: lowercase;
  margin: 0;
}

nav {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  display: grid;
  @include responsive("wide") {
    grid-template-columns: 2fr 1fr;
  }
  @include responsive("narrow") {
    grid-template-columns: 1fr 1fr;
  }
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0 10px;
  margin: 0;
  align-items: center;
  @include responsive("wide") {
    font-size: 30px;
    &:first-child {
      li:first-child {
        padding-right: 90px;
      }
      li:nth-child(n + 2) {
        color: gray;
      }
    }
  }
  @include responsive("narrow") {
    font-size: 22px;
    li:nth-child(n + 2) {
      display: none;
    }
  }
  &:hover {
    background-color: gray;
    &:first-child {
      li:nth-child(n + 2) {
        color: white;
      }
    }
  }
  li {
    cursor: pointer;
    padding-right: 40px;
  }
}

main {
  display: grid;
  @include responsive("wide") {
    grid-template-columns: repeat(3, 1fr);
  }
  @include responsive("narrow") {
    grid-template-columns: repeat(2, 1fr);
  }
  grid-auto-rows: 45vh;
  article {
    cursor: pointer;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 30px;
    img {
      height: 100%;
      width: 100%;
    }
    div {
      display: flex;
      align-items: center;
      padding-left: 10px;
      font-size: 14px;
    }
  }
}
